body {
  margin: 0;
  background-color: #000; /* Fallback */
}
canvas {
  display: block;
}

#section {
  width: 100%;
}
#scroll-space {
  width: 100%;
  height: 1200vh; /* Increased to accommodate new animations */
  position: relative;
}
#canvas-container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    black 0%,
    red 35%,
    #ff7445 65%
  );
}
#hero-canvas {
  width: 100%;
  height: 100%;
}